@using GreatCurrency.Web.Services
@model (PaginatedList<BestRatesViewModel> bestRates,StatisticViewModel statistic, RequestViewModel requestModel);

@{
    ViewData["Title"] = "Creat Currency";
}

<div class="wrapper">
    <div class="request_field">
        <form class="get_statistic_form" method="get" asp-controller="Home" asp-action="Index">
			<div class="get_statistic_dropbox_field">
            @if (ViewBag.CityList != null)
            {               
                @Html.DropDownList("cityId", new SelectList(ViewBag.CityList, "Id", "CityName"), new { @class = "get_statistic_dropbox" })               
            }            
                @Html.DropDownList("bankId", new SelectList(ViewBag.BankList, "Id", "BankName"), new { @class = "get_statistic_longdropbox" })
            </div>
            <div class="get_statistic_data">
                <input class="get_statistic_field" type="date" name="startDate" />
                <input class="get_statistic_field" type="date" name="endDate"/>             
            </div>
            <div class="get_statistic_button_field">
                <button class="get_statistic_button" type="submit" title="Запросить">Запросить</button>
            </div>
        </form>
    </div>
  <div class="wrapper_statistic">
       
      @if (Model.bestRates is null)
        {
            <div class="message_label">
                <h2>Курсы за указанный период не найдены.</h2>
            </div>
        }
        else
        {
      
          <div class="best_rates_table">
            <div class="bestrates_table_heading">Лучшие курсы.</div>
              <table class="rates_table">
                 <tr>
                    <th>Банк</th>
                    <th>Сдать USD</th>
                    <th>Купить USD</th>
                    <th>Сдать EUR</th>
                    <th>Купить EUR</th>
                    <th>Сдать RUB</th>
                    <th>Купить RUB</th>
                    <th>Время запроса</th>
                 </tr>
                @foreach (var rate in Model.bestRates)
                { 
                 <tr>
                    <td>@rate.BankName</td>
                    <td>@rate.USDBuyRate</td>
                    <td>@rate.USDSaleRate</td>
                    <td>@rate.EURBuyRate</td>
                    <td>@rate.EURSaleRate</td>
                    <td>@rate.RUBBuyRate</td>
                    <td>@rate.RUBSaleRate</td>
                    <td>@rate.RequestTime</td>
                 </tr>
                }
              </table>

            <div class="best_rates_table_footer">
                                
                @if (Model.bestRates.HasPreviousPage)
                {
                    <a class="change_page" onclick="location.href =
                         '@Url.Action(
                         "Index",
                         "Home",
                          new { page = Model.bestRates.PageIndex - 1,
                            pageSize = ViewData["PageSize"],
                            startDate = ViewData["StartData"],
                            endDate = ViewData["EndData"],
                            cityId = ViewData["CurrentCity"],
                            bankId = ViewData["CurrentBank"]
                           })'">
                            <img title="Previous" src="/images/Left.svg" />
                    </a>
                }

                    <form class="table-settings" asp-controller="Home" asp-action="Index" method="get">
                        <input type="date" asp-for=requestModel.startDate name=startDate style="display:none" />
                        <input type="date" asp-for=requestModel.endDate name=endDate style="display:none" />                        
                        <input type="hidden" asp-for=requestModel.cityId name="cityId" />
                        <input type="hidden" asp-for=requestModel.bankId name="bankId" />
                        <select onchange="this.form.submit()" name="pagesize">
                            <option value="" selected></option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </form>

                 @if (Model.bestRates.HasNextPage)
                 {
                        <a class="change_page" onclick="location.href =
                       '@Url.Action(
                       "Index",
                       "Home",
                       new { page = Model.bestRates.PageIndex + 1,
                            pageSize = ViewData["PageSize"],
                            startDate = ViewData["StartData"],
                            endDate = ViewData["EndData"],
                            cityId = ViewData["CurrentCity"],
                            bankId = ViewData["CurrentBank"]
                           })'">
                            <img title="Next" src="/images/Right.svg" />
                    </a>
                 }                
            </div>
          </div>
        }

    @if (Model.statistic != null) {
        <div class="statistic_table">
            <div class="statistic">
            <div class="statistic_data bank_name">@Model.statistic.BankName</div>

            <div class="statistic_data">Курс сдать USD был выгодным @Model.statistic.USDBuyStatistic% времени</div>
            
               @if (Model.statistic.bestUsdBuyRates.Any())
                    {
                        <div class="time_field">
                            <div class="show_times">Время лучших курсов...</div>
                            <div class="statistic_times" style="display:none">
                            @foreach(var time in Model.statistic.bestUsdBuyRates)
                            {                                
                                <div class="static_time_field">
                                    Максимальный курс с @time.startTime по @time.endTime.
                                </div>
                            }
                                <div class="hidden_times">Свернуть...</div>
                        </div>
                        </div>
                    }            

                    <div class="statistic_data">Курс купить USD был выгодным @Model.statistic.USDSellStatistic% времени</div>
            
                    @if (Model.statistic.bestUsdSellRates.Any())
                    {
                        <div class="time_field">
                            <div class="show_times">Время лучших курсов...</div>
                            <div class="statistic_times">
                            @foreach (var time in Model.statistic.bestUsdSellRates)
                            {
                                <div class="static_time_field">
                                    Минимальный курс с @time.startTime по @time.endTime.
                                </div>
                            }
                                <div class="hidden_times">Свернуть...</div>
                        </div>
                        </div>
                    }            

            <div class="statistic_data">Курс сдать EUR был выгодным @Model.statistic.EURBuyStatistic% времени</div>
            
                    @if (Model.statistic.bestEURBuyRates.Any())
                    {
                        <div class="time_field">
                            <div class="show_times">Время лучших курсов...</div>
                            <div class="statistic_times" style="display:none">
                            @foreach (var time in Model.statistic.bestEURBuyRates)
                            {
                                <div class="static_time_field">
                                    Максимальный курс с @time.startTime по @time.endTime.
                                </div>
                            }
                                <div class="hidden_times">Свернуть...</div>
                        </div>
                        </div>
                    }
            

                    <div class="statistic_data">Курс купить EUR был выгодным @Model.statistic.EURSellStatistic% времени</div>
           
                    @if (Model.statistic.bestEURSellRates.Any())
                    {
                        <div class="time_field">
                            <div class="show_times">Время лучших курсов...</div>
                            <div class="statistic_times" style="display:none">
                            @foreach (var time in Model.statistic.bestEURSellRates)
                            {
                                <div class="static_time_field">
                                    Минимальный курс с @time.startTime по @time.endTime.
                                </div>
                            }
                                <div class="hidden_times">Свернуть...</div>
                        </div>
                        </div>
                    }
           

                    <div class="statistic_data">Курс сдать RUB был выгодным @Model.statistic.RUBBuyStatistic% времени</div>
            
                    @if (Model.statistic.bestRubBuyRates.Any())
                    {
                        <div class="time_field">
                            <div class="show_times">Время лучших курсов...</div>
                            <div class="statistic_times" style="display:none">
                            @foreach (var time in Model.statistic.bestRubBuyRates)
                            {
                                <div class="static_time_field">
                                    Максимальный курс с @time.startTime по @time.endTime.
                                </div>
                            }
                                <div class="hidden_times">Свернуть...</div>
                        </div>
                        </div>
                    }            

                    <div class="statistic_data">Курс купить RUB был выгодным @Model.statistic.RUBSellStatistic% времени</div>
            
                    @if (Model.statistic.bestRubSellRates.Any())
                    {
                        <div class="time_field">
                            <div class="show_times">Время лучших курсов...</div>
                            <div class="statistic_times" style="display:none">
                            @foreach (var time in Model.statistic.bestRubSellRates)
                            {
                                <div class="static_time_field">
                                    Минимальный курс с @time.startTime по @time.endTime.
                                </div>
                            }
                                <div class="hidden_times">Свернуть...</div>
                        </div>
                        </div>
                     }            
            </div>
        </div>
    }
    </div>
</div>

@section js {
    <script src="~/js/indexPage.js" asp-append-version="true"></script>
}